{% extends 'base.html' %}

{% block head_title %}Welcome to vampire's online store{% endblock %}
{% block content %}

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Navbar example</h1>
  <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
  <p>To see the difference between static and fixed top navbars, just scroll.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
  </p>
  
</div>


<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Images</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead> 
    <tbody>
      {% for product in products %}
      <div class="col-md-4">
        <tr>
          <td>
            {% for pi in product.productimage_set.all %}
            <img style="max-height: 140px; max-width=140px;" class="img-thumbnail" src="{{ MEDIA_URL }}{{ pi.image }}" />
            {% endfor %}
          </td>
          <td>
            <a href="#">
              {{product.title}}
            </a>
          </td>
          <td>
            &dollar;{{product.price}}
          </td>
        </tr>
      </div>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
